.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.episode-layout {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
}

.episode-box {
  padding: 0.5rem;
}

.header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
}

.header * {
  margin: 0;
}

.favorites-count {
  margin: auto;
}

.section-season {
  display: flex;
  justify-content: space-between;
}